{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_schedule.css') }}">
{% endblock %}
{% block content%}
<div class="schedule-container">
    <div class="familyMembers-container">
        <h1>Family members</h1>
        <div class="members-container"></div>
        <div class="addMemberButton-container">
            <button class="addMemberButton">+</button>
        </div>
    </div>
    <div class="familySchedule-container">
        <h1>Family schedule</h1>
        <div class="generateScheduleButton-container">
            <button class="generateScheduleButton">Generate schedule</button>
        </div>
        <p>Score:  </p>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="module" src="{{ url_for('static', filename='dist/create_schedule.js') }}"></script>
{% endblock %}